.single_info_box{
    &.style_1{
        margin-bottom: 80px;
        @media #{$tab}{
            margin-bottom: 35px;
        }
        .info_box_icon{
            margin-bottom: 33px;
            @media #{$tab}{
                margin-bottom: 25px;
            }
        }
        h4{
            a{
                color: $heading_color;
                &:hover{
                    color: $base_color;
                }
            }
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 17px;
            @media #{$tab}{
                margin-bottom: 10px;
            }
        }
    }
    &.style_2{
        padding: 50px 40px;
        background-color: $white;
        @include transform_time(.3s);
        box-shadow: 0px 40px 50px 0px rgba(6, 10, 36, 0.1);
        @media #{$mobile}{
            padding: 25px 20px;
            margin-bottom: 30px;
        }
        @media #{$tab_device}{
            padding: 35px 30px;
            margin-bottom: 30px;
        }
        &:hover{
            margin-top: -10px;
        }
        i{
            margin-bottom: 35px;
            font-size: 40px;
            color: #5443f9;
            display: inline-block;
            @media #{$tab}{
                margin-bottom: 20px;
            }
        }
        h4{
            a{
                color: $heading_color;
                &:hover{
                    color: $base_color;
                }
            }
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 17px;
            @media #{$tab}{
                margin-bottom: 10px;
            }
        }
    }
    &.style_3{
        padding: 50px 40px;
        @include transform_time(.3s);
        border: 1px solid #f2f2f6;
        @media #{$mobile}{
            padding: 25px 20px;
            margin-bottom: 30px;
        }
        @media #{$tab_device}{
            padding: 35px 30px;
            margin-bottom: 30px;
        }
        &:hover{
            margin-top: -10px;
        }
        .info_box_icon{
            border-radius: 20px;
            background-color: rgb(85, 75, 254);
            box-shadow: 1.392px 9.903px 30px 0px rgba(85, 75, 254, 0.3);
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            display: inline-block;
            font-size: 26px;
            color: $white;
            margin-bottom: 40px;
            @media #{$tab}{
                margin-bottom: 20px;
            }
            &.orangr_bg{
                background-color: rgb(254, 126, 75);
                box-shadow: 1.392px 9.903px 30px 0px rgba(254, 126, 75, 0.3);                
            }
            &.green_bg{
                background-color: rgb(23, 201, 149);
                box-shadow: 1.392px 9.903px 30px 0px rgba(23, 201, 149, 0.3);
            }
        }
        .mb_40{
            margin-bottom: 40px;
            @media #{$tab}{
                margin-bottom: 20px;
            }
        }
        h4{
            a{
                color: $heading_color;
                &:hover{
                    color: $base_color;
                }
            }
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 17px;
            @media #{$tab}{
                margin-bottom: 10px;
            }
        }
    }
}