.grid_filter_menu{
    margin-bottom: 27px;
    button{
        border: 0px solid transparent;
        background-color: transparent;
        font-size: 13px;
        color: #595b69;
        margin: 0 40px 15px 0;
        text-transform: uppercase;
        font-weight: 600;
        @include transform_time(.3s);
        padding: 0;
        position: relative;
        &:after{
            position: absolute;
            content: "";
            left: 0;
            bottom: -1px;
            height: 2px;
            width: 0;
            background-color: $base_color;
            @include transform_time(.3s);
        }
        &:hover{
            color: $base_color;
            &:after{
                width: 100%;
                
            }
        }
    }
}
.minimal_grid_style{
    .single_minimal_grid{
        display: inline-block;
        margin-bottom: 10px;
        overflow: hidden;
        border-radius: 6px;
        
    }
    @media #{$xs_mobile}{
        .grid-item{
            width: 100%;
            .single_minimal_grid {
                display: block;
            }
            img{
                width: 100%;
            }
        }
    }
    @media #{$large_mobile}{
        .grid-item{
            width: 48%;
            .single_minimal_grid {
                display: block;
                height: 175px;
            }
            img{
                width: 100%;
            }
        }
    }
    @media #{$tab_device}{
        .grid-item{
            width: 31%;
            .single_minimal_grid {
                display: block;
                height: 175px;
            }
            img{
                width: 100%;
            }
        }
    }
}
.grid_with_fitrow_gutter{
    .single_minimal_grid{
        display: inline-block;
    }
    .grid-item{
        margin-bottom: 10px;
    }
}
.zoom_offect{
    overflow: hidden;
    img{
        @include transform_time(.3s);
        
        &:hover{
            transform: scale(1.1);
        }
    }
}
.overlay_effect{
    position: relative;
    z-index: 1;
    display: inline-block;
    &:after{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #060a24;
        opacity: 0;
        content: "";
        transform: scale(.7);
        @include transform_time(.3s);
        opacity: 0;
        visibility: hidden;
    }
    &:hover{
        &:after{
            transform: scale(1);
            opacity: .5;
            visibility: visible;
        }
    }
}
.dl_justified_grid_bg{
    @include background ('../img/bg_6.png');
    position: relative;
    .grid_section_shape_1{
        position: absolute;
        left: 10%;
        bottom: 10%;
    }
}